# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Auth
JWT_SECRET=

# WhatsApp Meta Cloud API
WHATSAPP_TOKEN=
WHATSAPP_PHONE_ID=1137252232803061
WHATSAPP_VERIFY_TOKEN=
WHATSAPP_TEMPLATE_COLIS_RECU=colis_recu_chine
WHATSAPP_TEMPLATE_EN_TRANSIT=colis_en_transit
WHATSAPP_TEMPLATE_ARRIVE_LOME=colis_arrive_lome
